* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f2f5;
  color: #333;
}

button,
select,
input,
body,
textarea {
  font: 400 1rem "Montserrat", sans-serif;
}

button,
select,
input,
textarea {
  border: none;
  outline: none;
}
